
<div class="text-center">
  <h1>Welcome to Members Only</h1>
</div>
<div class="row">

  <div class="col-md-12">
  <ul class="list-group">
    <% @posts.each do |post| %>
        <li class="list-group-item text-center">
          <%= link_to post.title, post %>
        <% if user_signed_in? %>
            <small>
           Posted by @<%= post.user.name %>
            </small>
            </li>
      <% end %>
          <% end %>
          </ul>
  </div>
          </div>

